body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 2px solid #06ec6e;
    border-radius: 10px;
    padding: 20px;
    background-color: #fdd90e;
    box-shadow: 0 0 10px rgba(91, 216, 8, 0.1);
    text-align: center;
}

.calculator h2 {
    margin-bottom: 2px;
}

.display {
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
    padding: 5px;
    font-size: 2em;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.button {
    padding: 8px;
    font-size: 1.5em;
    border: 2px solid rgb(243, 10, 10);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ddd;
}

.button.operator {
    background-color: #00ccff;
    color: #fff;
}

.button.operator:hover {
    background-color: #d51efa;
}

.button.equal {
    background-color: #f10abf;
    color: #fff;
    grid-column: span 4;
}

.button.equal:hover {
    background-color: #2da94f;
}

.button.clear {
    background-color: #fc9510;
    color: #fff;
}

.button.clear:hover {
    background-color: #6109ee;
}